@font-face {
	font-family: 'Josefin Sans';
	src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url('../assets/ttf/JosefinSans/JosefinSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Josefin Sans';
	src: local('Josefin Sans Italic'), local('JosefinSans-Italic'), url('../assets/ttf/JosefinSans/JosefinSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Josefin Sans';
	src: local('Josefin Sans Bold Italic'), local('JosefinSans-BoldItalic'), url('../assets/ttf/JosefinSans/JosefinSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Lato;
	src: local('Lato Regular'), local('Lato-Regular'), url('../assets/ttf/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Lato;
	src: local('Lato Italic'), local('Lato-Italic'), url('../assets/ttf/Lato/Lato-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Lato;
	src: local('Lato Light'), local('Lato-Light'), url('../assets/ttf/Lato/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
